.text-box {
    padding: 10px 20px;
    position: relative;
}

.text-box .title {
    font-size: 20px;
    line-height: 28px;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 7px;
    margin-left: 65px;
    width: 70%;
}

.text-box .release-date {
    font-size: 12px;
    line-height: 22px;
    color: #827E7E;
    padding-bottom: 7px;
    margin-left: 65px;
}

.text-box .overview {
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    font-style: normal;
    width: 367px;
    position: relative;
    left: -10px;
}

.text-box .title-box {
    position: relative;
}

.text-box .title-box .rating {
    position: absolute;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    top: 0;
    right: 10px;
    border-radius: 50px;
    font-size: 12px;
    line-height: 27px;
    text-align: center;
}

.set-rating {
    position: absolute;
    bottom: 10px;
    right: 30px;
}

.rating-color1 {
    border: 2px solid #E90000;;
}

.rating-color2 {
    border: 2px solid #E97E00;
}

.rating-color3 {
    border: 2px solid #E9D100;
}

.rating-color4 {
    border: 2px solid #66E900;
}

@media (min-width: 1121px) {
    .text-box .overview{
        width: 230px;
        left: 0;
    }
    .text-box .release-date{
        margin: 0
    }
    .text-box .title {
        margin: 0;
        width: 90%;
    }
    .text-box .title-box .rating {
        right: -10px;
    }

    .set-rating {
        bottom: 10px;
        left: 15px;
        right: 0;
    }
}