.main-content{
    margin: 0 auto;
    width: 1010px;
    min-height: 500px;
    background-color:#fff;
    padding-top: 19px;
    padding-left: 32px;
}

.paginator {
    display: flex;
    justify-content: center;
}
